<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.ffm.system.feeding.FeedingMapper">
    <insert id="insert"
            parameterType="Feeding">
        INSERT INTO FEEDING
            (`WATER_TANK_ID`
            , `FEEDING_AMOUNT`
            , `FEEDING_TIME`)
        VALUES (#{watertankId}
                , #{feedingAmount}
                , now())
    </insert>

    <select id="selectAll"
            parameterType="WaterTank"
            resultType="Feeding">
        SELECT NO
              , FEEDING_AMOUNT
              , substring(FEEDING_TIME, 12, 5) AS FEEDING_TIME
        FROM FEEDING
        WHERE FEEDING_TIME LIKE '%${registDate}%'
          AND WATER_TANK_ID = #{id}
    </select>
</mapper>