<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.ffm.system.watertankstatus.WatertankStatusMapper">
    <select id="selectAllByRownum"
            parameterType="Page"
            resultType="WatertankStatus">

    </select>

    <select id="selectAllByWatertankId"
            parameterType="WatertankStatus"
            resultType="WatertankStatus">
        SELECT NO
             , WATER_TANK_ID
             , TEMPERATURE
             , PH
             , OXYGEN
             , substring(MEASURE_TIME, 12, 5) AS MEASURE_TIME
        FROM WATER_TANK_STATUS
        <where>
            WATER_TANK_ID = #{watertankId}
            <if test="measureTime != null and measureTime != ''">
                AND MEASURE_TIME LIKE '%${measureTime}%'
            </if>
        </where>
        ORDER BY MEASURE_TIME ASC
    </select>


    <insert id="insert" useGeneratedKeys="true" parameterType="WatertankStatus"
                        keyColumn="NO" keyProperty="no">
        INSERT INTO WATER_TANK_STATUS (WATER_TANK_ID, TEMPERATURE, PH, OXYGEN, MEASURE_TIME)
        VALUES (#{watertankId}, #{temperature}, #{ph}, #{oxygen}, NOW())
    </insert>

</mapper>