<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.ffm.system.watertank.WatertankMapper">
    <select id="selectAll"
            parameterType="Watertank"
            resultType="Watertank">
        SELECT ID
             , FARMED_FISH_NO
             , FARMED_FISH_NAME
             , AGENT_IP_ADDRESS
             , REGIST_DATE
             , ACTIVE
        FROM WATER_TANK
        <where>
            <if test="farmedFishName != null and farmedFishName !=''">
                AND FARMED_FISH_NAME = #{farmedFishName}
            </if>
            <if test="farmedFishNo != 0">
                AND FARMED_FISH_NO = #{farmedFishNo}
            </if>
        </where>
    </select>

    <select id="selectById"
            parameterType="Watertank"
            resultType="Watertank">
        SELECT ID
             , FARMED_FISH_NO
             , FARMED_FISH_NAME
             , AGENT_IP_ADDRESS
             , REGIST_DATE
             , ACTIVE
        FROM WATER_TANK
        <where>
            <choose>
                <when test="id != null">
                    ID = #{id}
                </when>
                <otherwise>
                    ID = null
                </otherwise>
            </choose>
        </where>
    </select>

    <insert id="insert" parameterType="Watertank">
        INSERT INTO WATER_TANK
        VALUES (#{id}
              , #{farmedFishNo}
              , #{farmedFishName}
              , #{agentIpAddress}
              , NOW()
              , 'Y')
    </insert>

    <update id="updateById"
            parameterType="Watertank">
        UPDATE WATER_TANK
        <set>
            <if test="active != null and active !=''">
                ACTIVE = #{active}
            </if>
        </set>
        WHERE ID = #{id};
    </update>
</mapper>